
body {
font-family: 'Roboto', sans-serif;
margin: 20px; 
padding: 0; 
line-height: 1.6; 
background-color: #f9f9f9;
color: #333333;
}


.navbar {
background-color: #d6baa0;
padding: 10px;
text-align: center;
}

.navbar .nav-link {
  color: #0E2841;       /* azul oscuro de tu paleta */
  font-weight: 600;     /* similar a negrita */
}

.navbar .nav-link:hover {
  color: #5c5c5c;       /* gris al pasar el mouse */
}

.navbar .navbar-brand {
  color: #0E2841;
  font-weight: 700;
}

section {
padding: 40px 20px;
background-color: #ffffff;
border-bottom: 1px solid #999999; 
}

section:nth-child(even) {
    background-color: #f0f0f0; 
}



header {
    position: sticky; 
    top: 0; 
    z-index:100; 
    background-color: white;
    border-bottom: 1px solid #ccc; 
}


main {
    max-width: 1150px;
    margin: auto; 
    padding: 20px;
}

img {
    width: 100%;
    height: auto;
}

div{
    
}

footer {
  height: 100px;
    background-color: #0E2841;
    color: white;
    text-align: center;
    justify-content: center;
    font-size: 0.9em;
    width: 100%;
}

.fotbar-color{
  background-color: #d6baa0;
  color: #0E2841;
}

.foot-color{
  color: white !important;
}

@media (max-width: 1200px) {
    body {
    }
}


@media (max-width: 992px) {
    body {
    }
}

.logo-img {
  width: 150px;
  height: 150px;
  object-fit: cover; 
}

.custom-color{
  background-color: #d6baa0!important;
  color: #0E2841 !important;
}

.progress-bar {
  display: flex;
  justify-content: center;
  align-items: center !important;
  padding: 0;
}


.card-title {
  font-weight: bold;
}

.card-same-height {
  height: 100%;
  min-height: 300px; 
}

.scrollspy-example::-webkit-scrollbar {
  width: 8px;
}

.scrollspy-example::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

.scrollspy-example::-webkit-scrollbar-thumb {
  background-color: #d6baa0; 
  border-radius: 4px;
  border: 2px solid #f1f1f1;
}

.accordion-button:not(.collapsed) {
    background-color: #d6baa0 !important; 
    color: #000; 
  }

 
  .accordion-button:focus {
    box-shadow: none !important;
  }

  .scrollable-accordion{
    max-height: 180px;
    overflow-y: auto;
  }

.scrollable-accordion::-webkit-scrollbar {
  width: 8px;
}

.scrollable-accordion::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 8px;
}

.scrollable-accordion::-webkit-scrollbar-thumb {
  background-color: #0E2841; 
  border-radius: 10px;
  border: 2px solid #f0f0f0;
}


  .block-misura{
    max-height: 450px;
    height: none;
    overflow-y: none;
    padding: 20px;
  }

  .icono{
    color: #d6baa0 !important; 
  }

  .social{
    
  }

  .button-color{
    background-color: #0E2841 !important;
  }